# Module 3 Assignment
### Name: Jaya Marella

In [1]:
#import statements
%matplotlib inline

import pandas as pd
import os
from scipy.sparse import lil_matrix # Needed for building the matrix of user ratings
import scipy.spatial.distance # Needed for calculating pairwise distances
from scipy.spatial.distance import euclidean

In [2]:
#read csv
youtube_df = pd.read_csv('../Module3/data/Youtuber.csv', encoding= 'unicode_escape')
youtube_df

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments,Content Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223,NaN
2,2.0,MrBeast,Video games,236.1M,United States,104M,4M,74K,Humor
3,3.0,Cocomelon - Nursery Rhymes,Education,171.4M,NaN,5.1M,57.1K,0,NaN
4,4.0,SET India,NaN,167.1M,India,27.9K,996,7,NaN
...,...,...,...,...,...,...,...,...,...
1041,996.0,BBC Earth,NaN,12.5M,United States,80.3K,1.7K,79,NaN
1042,997.0,Jamie Nyland,Animation,12.5M,United States,66.7K,2.5K,104,Humor
1043,998.0,janin al chair,NaN,12.5M,Mexico,1.4M,146.1K,485,NaN
1044,999.0,Myke Towers,Music & Dance,12.5M,Colombia,8.3K,485,8,NaN
1045,1000.0,HikakinTV,Humor,12.5M,Japan,703.2K,25.3K,312,NaN

In [3]:
youtube_df['Category'].unique()

array([nan, 'Music & Dance', 'Video games', 'Education', 'Animation',
       'Toys', 'Movies', 'News & Politics', 'Daily vlogs', 'Travel',
       'Fitness', 'Beauty', 'Humor', 'Food & Drinks', 'Design/art',
       'Sports', 'Science & Technology', 'Health & Self Help',
       'DIY & Life Hacks', 'ASMR', 'Autos & Vehicles', 'Animals & Pets',
       'Fashion', 'Mystery'], dtype=object)

In [4]:
youtube_df['Country'].unique()

array([nan, 'India', 'United States', 'Brazil', 'Pakistan', 'Russia',
       'Mexico', 'Philippines', 'Indonesia', 'France', 'Thailand',
       'Colombia', 'Iraq', 'Japan', 'Argentina', 'El Salvador', 'Turkey',
       'Saudi Arabia', 'Bangladesh', 'United Kingdom', 'Algeria', 'Spain',
       'Peru', 'South Korea', 'Iran', 'Vietnam', 'Morocco', 'Egypt',
       'Singapore', 'Jordan', 'Italy'], dtype=object)

In [5]:
#change format of column names
old_names = youtube_df.columns
new_names = ['_'.join(c.split()).lower() for c in old_names]
youtube_df.columns = new_names
youtube_df.head()

,rank,channel_name,category,subscribers,country,average_views,average_likes,average_comments,content_type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223,NaN
2,2.0,MrBeast,Video games,236.1M,United States,104M,4M,74K,Humor
3,3.0,Cocomelon - Nursery Rhymes,Education,171.4M,NaN,5.1M,57.1K,0,NaN
4,4.0,SET India,NaN,167.1M,India,27.9K,996,7,NaN

In [6]:
#filter by a specific category and country
youtube_df = youtube_df[youtube_df['category'] == 'Music & Dance'] 
youtube_df = youtube_df[youtube_df['country'] == 'United States']

In [7]:
youtube_df

,rank,channel_name,category,subscribers,country,average_views,average_likes,average_comments,content_type
16,16.0,HYBE LABELS,Music & Dance,73.9M,United States,118.1K,21.6K,215,NaN
33,33.0,Marshmello,Music & Dance,56.9M,United States,88.2K,7.1K,137,NaN
34,34.0,LooLoo Kids - Nursery Rhymes and Children's Songs,Music & Dance,56.1M,United States,237.4K,773,0,NaN
36,36.0,Ariana Grande,Music & Dance,53.5M,United States,310.7K,40.4K,1.5K,NaN
44,44.0,Billie Eilish,Music & Dance,49.1M,United States,363.1K,30.2K,418,NaN
55,55.0,Alan Walker,Music & Dance,44.9M,United States,163.3K,13.1K,469,Movies
102,102.0,Maroon 5,Music & Dance,36.8M,United States,0,0,0,NaN
120,120.0,DisneyMusicVEVO,Music & Dance,34.1M,United States,53.2K,300,15,Movies
127,127.0,NoCopyrightSounds,Music & Dance,33.7M,United States,50.2K,3.5K,86,Animation
140,140.0,SMTOWN,Music & Dance,32.3M,United States,295.3K,26.9K,1.6K,NaN
163,163.0,Spinnin' Records,Music & Dance,30.4M,United States,28.4K,1.1K,32,NaN
164,164.0,Trap Nation,Music & Dance,30.4M,United States,37.4K,1.4K,74,NaN
168,168.0,Ultra Records,Music & Dance,30.1M,United States,13.6K,494,18,NaN
183,183.0,JYP Entertainment,Music & Dance,28.6M,United States,403.1K,44K,1.5K,NaN
192,192.0,Wiz Khalifa,Music & Dance,28.2M,United States,287.3K,13.3K,1K,Humor
199,199.0,Jason Derulo,Music & Dance,27.5M,United States,27.5K,958,19,NaN
203,203.0,America's Got Talent,Music & Dance,27.1M,United States,234.3K,6.3K,203,Movies
211,211.0,WORLDSTARHIPHOP,Music & Dance,26.8M,United States,36.1K,922,115,NaN
213,213.0,Nicki Minaj,Music & Dance,26.6M,United States,0,0,0,NaN
228,228.0,Coldplay,Music & Dance,25.9M,United States,68K,8K,229,NaN
250,250.0,Mr DegrEE,Music & Dance,24.6M,United States,2.8M,76.6K,82,NaN
256,256.0,Enrique Iglesias,Music & Dance,24.3M,United States,21.4K,1.9K,99,NaN
288,288.0,Sia,Music & Dance,23.1M,United States,17.4K,1.3K,57,Movies
290,290.0,Dua Lipa,Music & Dance,23.1M,United States,270.8K,18.1K,656,NaN
311,311.0,Tekashi 6ix9ine,Music & Dance,22.1M,United States,243.4K,14.8K,1.4K,NaN
314,314.0,7clouds,Music & Dance,22M,United States,41.1K,917,74,NaN
321,321.0,Becky G,Music & Dance,21.8M,United States,142.5K,6K,208,NaN
324,324.0,Lyrical Lemonade,Music & Dance,21.7M,United States,1.3M,44.8K,1.9K,Animation
350,350.0,Linkin Park,Music & Dance,21.1M,United States,31K,3.8K,210,NaN
352,352.0,Linkin Park,Music & Dance,21.1M,United States,31K,3.8K,210,NaN
394,394.0,Vevo,Music & Dance,20.1M,United States,5.5K,161,1,NaN
431,431.0,Farruko,Music & Dance,19.3M,United States,46.9K,1.7K,76,NaN
433,433.0,Lil Nas X,Music & Dance,19.2M,United States,203.1K,11.5K,596,NaN
449,449.0,ArianaGrandeVevo,Music & Dance,18.7M,United States,4.8M,390.5K,39K,Humor
453,453.0,Jordan Matter,Music & Dance,18.6M,United States,6.7M,69.3K,10K,Humor
498,498.0,Travis Scott,Music & Dance,17.7M,United States,6M,312K,10.1K,NaN
517,517.0,Queen Official,Music & Dance,17.4M,United States,60.6K,4K,165,Movies
560,560.0,Pitbull,Music & Dance,16.6M,United States,19.4K,979,31,Movies
614,614.0,CNN,Music & Dance,15.9M,United States,102.6K,1.8K,1K,Animation
644,644.0,Stray Kids,Music & Dance,15.6M,United States,1.2M,137.9K,4.5K,Movies
680,680.0,Lana Del Rey,Music & Dance,15.2M,United States,493.5K,90.3K,5.9K,NaN
690,690.0,MattyBRaps,Music & Dance,15M,United States,0,0,0,NaN
703,703.0,Crazy Frog,Music & Dance,15M,United States,637.3K,13.4K,95,Animation
710,710.0,Fueled By Ramen,Music & Dance,14.9M,United States,49.7K,1.8K,151,NaN
715,715.0,Major Lazer Official,Music & Dance,14.8M,United States,25.4K,792,37,Movies
794,794.0,Trap City,Music & Dance,14.1M,United States,12.9K,689,34,NaN
862,862.0,Matt Steffanina,Music & Dance,13.5M,United States,33.3K,1.8K,64,Movies
892,892.0,YoungBoy Never Broke Again,Music & Dance,13.2M,United States,425.1K,27.9K,2.8K,NaN
914,914.0,Wild 'N Out,Music & Dance,13M,United States,356.4K,7K,143,Humor
918,918.0,Talking Angela,Music & Dance,13M,United States,115.2K,656,0,Movies
926,926.0,Talent Recap,Music & Dance,13M,United States,47K,527,26,Humor
927,927.0,Olivia Rodrigo,Music & Dance,13M,United States,530.5K,30.1K,1.2K,Animation
959,959.0,Ellie Goulding,Music & Dance,12.8M,United States,39.4K,2.1K,162,NaN
962,962.0,Avril Lavigne,Music & Dance,12.8M,United States,43K,6.8K,220,NaN
990,990.0,NATTI NATASHA,Music & Dance,12.6M,United States,20.1K,1.9K,58,NaN
994,994.0,Black Eyed Peas,Music & Dance,12.6M,United States,8K,667,14,NaN
1004,959.0,Ellie Goulding,Music & Dance,12.8M,United States,39.4K,2.1K,162,NaN
1007,962.0,Avril Lavigne,Music & Dance,12.8M,United States,43K,6.8K,220,NaN
1035,990.0,NATTI NATASHA,Music & Dance,12.6M,United States,20.1K,1.9K,58,NaN
1039,994.0,Black Eyed Peas,Music & Dance,12.6M,United States,8K,667,14,NaN

In [8]:
#fill in null values 
yt_df = youtube_df.dropna(subset=['channel_name']) #from Kaggle
yt_df['country'].fillna('Unknown', inplace=True) #from Kaggle
yt_df['category'].fillna('Unknown', inplace=True)
yt_df['content_type'].fillna('Unknown', inplace=True)

In [9]:
#convert subscribers to numeric values
yt_df['subscribers'] = pd.to_numeric(yt_df['subscribers'].astype(str).str.rstrip('M'), errors='coerce') * 1e6

In [10]:
#change average_views and average_likes to numeric
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0

yt_df['average_views'] = yt_df['average_views'].apply(value_to_float)
yt_df['average_likes'] = yt_df['average_likes'].apply(value_to_float)

In [11]:
#set index to channel name
yt_df = yt_df.set_index(['channel_name'])

In [12]:
#remove unnecessary columns 
yt_df.drop(['content_type', 'rank', 'category', 'average_comments', 'country'], axis=1, inplace=True)

In [13]:
#drop duplicates
yt_df = yt_df.drop_duplicates()

In [14]:
yt_df.head(10)

,subscribers,average_views,average_likes
channel_name,,,
HYBE LABELS,73900000.0,118100.0,21600.0
Marshmello,56900000.0,88200.0,7100.0
LooLoo Kids - Nursery Rhymes and Children's Songs,56100000.0,237400.0,0.0
Ariana Grande,53500000.0,310700.0,40400.0
Billie Eilish,49100000.0,363100.0,30200.0
Alan Walker,44900000.0,163300.0,13100.0
Maroon 5,36800000.0,0.0,0.0
DisneyMusicVEVO,34100000.0,53200.0,0.0
NoCopyrightSounds,33700000.0,50200.0,3500.0
SMTOWN,32300000.0,295300.0,26900.0

In [15]:
#L1 normalization
df_norm = yt_df.divide(yt_df.sum(axis=1), axis=0)
df_norm.head(10)

,subscribers,average_views,average_likes
channel_name,,,
HYBE LABELS,0.998113,0.001595,0.000292
Marshmello,0.998328,0.001547,0.000125
LooLoo Kids - Nursery Rhymes and Children's Songs,0.995786,0.004214,0.000000
Ariana Grande,0.993480,0.005770,0.000750
Billie Eilish,0.992053,0.007336,0.000610
Alan Walker,0.996087,0.003623,0.000291
Maroon 5,1.000000,0.000000,0.000000
DisneyMusicVEVO,0.998442,0.001558,0.000000
NoCopyrightSounds,0.998409,0.001487,0.000104
SMTOWN,0.990123,0.009052,0.000825

In [16]:
#check if rows normalized correctly
df_norm.sum(axis=1).head(20)

channel_name
HYBE LABELS                                          1.0
Marshmello                                           1.0
LooLoo Kids - Nursery Rhymes and Children's Songs    1.0
Ariana Grande                                        1.0
Billie Eilish                                        1.0
Alan Walker                                          1.0
Maroon 5                                             1.0
DisneyMusicVEVO                                      1.0
NoCopyrightSounds                                    1.0
SMTOWN                                               1.0
Spinnin' Records                                     1.0
Trap Nation                                          1.0
Ultra Records                                        1.0
JYP Entertainment                                    1.0
Wiz Khalifa                                          1.0
Jason Derulo                                         1.0
America's Got Talent                                 1.0
WORLDSTARHIPHOP                                      1.0
Nicki Minaj                                          1.0
Coldplay                                             1.0
dtype: float64

In [17]:
yt_channel_map = {}

In [18]:
#target channel
target_channel1 = "Olivia Rodrigo"

In [19]:
print(df_norm.loc[target_channel1])

subscribers      0.958660
average_views    0.039121
average_likes    0.002220
Name: Olivia Rodrigo, dtype: float64

In [20]:
#gathering the stats for that channel
target_channel_stats = df_norm.loc[target_channel1]

#generating distances from that channel to all the others
distances = scipy.spatial.distance.cdist(df_norm, [target_channel_stats], metric="euclidean")[:,0]

query_distances = list(zip(yt_df.index, distances))

In [23]:
#sorting distances 
# def get_sortable_element(e):
#     return e[1]
# sorted(query_distances, key=get_sortable_element)

In [24]:
#printing the top ten most similar channels to our target
for similar_channel, similar_channel_score in sorted(query_distances, key=lambda x: x[1], reverse=False)[:10]:
    print('channel name: ', similar_channel, ' ', 'distance: ', similar_channel_score)

channel name:  Olivia Rodrigo   distance:  0.0
channel name:  Crazy Frog   distance:  0.0021150178103815516
channel name:  Lana Del Rey   distance:  0.009638532997118959
channel name:  YoungBoy Never Broke Again   distance:  0.011418635557193912
channel name:  Wild 'N Out   distance:  0.018921613315348636
channel name:  Lyrical Lemonade   distance:  0.024260859583518084
channel name:  JYP Entertainment   distance:  0.036208035669152545
channel name:  Dua Lipa   distance:  0.040012573707479945
channel name:  Tekashi 6ix9ine   distance:  0.04107513364200492
channel name:  Lil Nas X   distance:  0.041728955704534394